# Entorno virtual
.venv/

# Archivos temporales
__pycache__/
*.py[cod]
*.log

# Config VSCode
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# PyInstaller
dist/
build/
__pycache__/
*.spec
*.exe
*.pyc
*.pyo
*.pyd
